In [1]:

a=1
while a<10:
    a+=1     
    print (a)

2
3
4
5
6
7
8
9
10

In [2]:
a = [4,5,6,7]
for x in a:
    print (x+1)

5
6
7
8

In [3]:
i = 0
while i<len(a):
    print (a[i]+1)
    i += 1

5
6
7
8

In [4]:
a=5
if a == 5:
    print ("hello")

hello

In [5]:
while a==5:
    print ("hello")
    break

hello

In [3]:
# 1000
# +7% 

x= 1000
c = 0 
while x<2000:
    c += 1
    x = x + 0.07*x
#print(x)
print (c)

11

In [4]:


x= 1000
c = 0 
while True:
    c += 1
    x = x + 0.07*x
    
    if x > 2000:
        break
#print(x)
print (c)

11

In [5]:
x = 1000
while True:
    x = x + 0.07*x
    if x>2000:
        break

In [8]:
a = 0
while a<10:
    a += 1
    if a%2 == 1:
        continue
    print (a)

2
4
6
8
10

In [10]:
a = -1
while a<10:
    a += 1
    if a%2 == 1:
        continue
    print (a)

0
2
4
6
8
10

In [19]:
def prime(n):
    i = 2
    while i<n:
        if n%i != 0:
            i += 1
            continue
            #return True
            
        else:
            return False
    return True

In [21]:
for x in range(20, 41):
    print (x, prime(x))

20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False

In [22]:
def prime_2(n):
    for i in range(2, n):
        if n%i == 0:
            return False
    return True

In [24]:
for x in range(20, 41):
    print (x, prime_2(x))

20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False

In [34]:
def prime_3(n):
    for i in range(2, n):
        if n%i == 0:
            break
    #print (i)
    return i == n-1

In [35]:
for x in range(20, 41):
    print (x, prime_3(x))

20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False

In [39]:
def prime_4(n):
    
    exw_kanei_break = False
    for i in range(2, n):
        if n%i == 0:
            exw_kanei_break = True
            break

            
    return not exw_kanei_break

In [40]:
for x in range(20, 41):
    print (x, prime_4(x))

20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False

In [42]:
def prime_5(n):
    
    
    for i in range(2, n):
        if n%i == 0:
            break
    else:
        return True
    
    return False

In [45]:
for x in range(20, 41):
    print (x, prime_5(x))

20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False

In [56]:
def prime_6(n):
    
    def f(x):
        return n%x
    
    l = list(range(2,n))
    #print (l)
    k = list(map(f,l))
    #print (k)
    
    return not (0 in k)

In [57]:
for x in range(20, 41):
    print (x, prime_6(x))

20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False

In [52]:
5 in [6,5,7]

True

In [58]:
a = [4,5,6]

In [59]:
b = (4,5,6)

In [60]:
a[1] = 100

In [61]:
b[1] = 100

TypeError: 'tuple' object does not support item assignment

In [62]:
def f(x):
    return x-1, x+1

In [63]:
f(5)

(4, 6)

In [64]:
type('mitsso')

str

In [65]:
type(33)

int

In [66]:
type([4,5,6])

list

In [67]:
type((5,6,7))

tuple

In [68]:
[5]

[5]

In [69]:
(6)

6

In [70]:
(6,)

(6,)

In [71]:
6,

(6,)

In [72]:
6,7,8,9

(6, 7, 8, 9)

In [80]:
a=list(range(1,100_000_000))

In [81]:
99_987_344 in a

True

In [82]:
'mitsos' in a

False

# dictionary

In [83]:
a={
    1 : "BRCA2",
    2 : "P53",
    3 : "APOE",
}

In [84]:
2 in a

True

In [85]:
a[2]

'P53'

In [86]:
b={
    "BRCA2" : 1,
    "P53" : 70,
    "APOE": 88,
}

In [87]:
b['P53']

70

In [88]:
b.values()

dict_values([1, 70, 88])

In [89]:
b.keys()

dict_keys(['BRCA2', 'P53', 'APOE'])

In [90]:
b

{'BRCA2': 1, 'P53': 70, 'APOE': 88}

In [91]:
b['mitsos'] = [4,5,6]

In [92]:
b['mitsos'] = {"5": "ASDSWD"}

In [93]:
def f(x):
    return x+1

In [94]:
b['my_fabulous_f'] = f

In [95]:
b['my_fabulous_f'](60)

61

In [96]:
b

{'BRCA2': 1,
 'P53': 70,
 'APOE': 88,
 'mitsos': {'5': 'ASDSWD'},
 'my_fabulous_f': <function __main__.f(x)>}

In [97]:
b[4] = "mitsos"

In [98]:
b['mitsos'] = 'mitsos'

In [99]:
b[True] = 'mitsos'

In [100]:
b[6.66] = 'mitsos'

In [101]:
b[ [5,6] ] = 'mitsos'

TypeError: unhashable type: 'list'

In [104]:
hash('mitsos123')

-5477650241974683608

In [105]:
hash('mitsos123')

-5477650241974683608

In [108]:
b['P53']

70

In [109]:
b['P53'] += 1

In [110]:
b['P53']

71

In [111]:
b

{'BRCA2': 1,
 'P53': 71,
 'APOE': 88,
 'mitsos': 'mitsos',
 'my_fabulous_f': <function __main__.f(x)>,
 4: 'mitsos',
 True: 'mitsos',
 6.66: 'mitsos'}

In [112]:
del b['P53']

In [113]:
b

{'BRCA2': 1,
 'APOE': 88,
 'mitsos': 'mitsos',
 'my_fabulous_f': <function __main__.f(x)>,
 4: 'mitsos',
 True: 'mitsos',
 6.66: 'mitsos'}

In [114]:
b['P53'] = 50

In [115]:
b['P53'] + 50

100

In [117]:
b['QQQ'] = b['P53']

In [118]:
b

{'BRCA2': 1,
 'APOE': 88,
 'mitsos': 'mitsos',
 'my_fabulous_f': <function __main__.f(x)>,
 4: 'mitsos',
 True: 'mitsos',
 6.66: 'mitsos',
 'P53': 50,
 'QQQ': 50}

In [119]:
'P53' in b

True

In [120]:
'XYZ' in b

False

In [122]:
1 in b.values()

True

In [123]:
2 in b.values()

False

In [129]:
c = {'a': 1, 'b':3, 'c': 2,}

for a,b in c.items():
    print (a,b)

a 1
b 3
c 2

In [133]:
d = {}
for a,b in c.items():
    d[b]=a
print (d)

{1: 'a', 3: 'b', 2: 'c'}

In [135]:
d = {  b:a  for a,b in c.items()  }
print (d)

{1: 'a', 3: 'b', 2: 'c'}

In [131]:
len(d)

3

In [132]:
len({})

0

In [138]:
c= ['heraklion', 'patras', 'athens']

In [140]:
{k:len(k) for k in  c }

{'heraklion': 9, 'patras': 6, 'athens': 6}

In [143]:
d = {'a': 1, 'b':3, 'c': 2,}

In [145]:
list(d.items())

[('a', 1), ('b', 3), ('c', 2)]

In [146]:
for a,b in [('a', 1), ('b', 3), ('c', 2)]:  # d.items():
    print (a,b)

a 1
b 3
c 2

In [147]:
a = [5,6,7]
b = ['a', 'b', 'c']

In [151]:
list(zip(a,b))

[(5, 'a'), (6, 'b'), (7, 'c')]

In [152]:
dict(zip(a,b))

{5: 'a', 6: 'b', 7: 'c'}

In [150]:
dict( [ (1,2), (5,6) ]   )

{1: 2, 5: 6}

In [153]:
a = set()

In [154]:
len(a)

0

In [155]:
a.add(5)

In [156]:
len(a)

1

In [157]:
a.add(6)

In [158]:
len(a)

2

In [159]:
a.add(5)

In [160]:
len(a)

2

In [161]:
a = set()

In [162]:
a = {1,2,3,4,5}

In [163]:
3 in a

True

In [164]:
8 in a

False

In [165]:
a = {1,2,3,4,5}

In [166]:
b = {4,5,6,7,8}

In [167]:
a & b

{4, 5}

In [168]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [169]:
a - b

{1, 2, 3}

In [170]:
b - a

{6, 7, 8}

In [171]:
a = set()
for x in range(1,100_000_000):
    a.add(x)

In [177]:
99_432_433 in a

True

In [178]:
'mitsos' in a

False

In [179]:
100_000_001 in a

False

In [174]:
set(range(6,100))

{6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [175]:
set([ 3,4,5,4,5,6,7,6,7,8,9,8,7 ])

{3, 4, 5, 6, 7, 8, 9}

In [176]:
set('fghdjsiudfygfhrjekfgiuyfhdjskirug7hufreijhrghtjrkdfuyghgufiehg')

{'7', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'r', 's', 't', 'u', 'y'}

In [180]:
[x%5 for x in range(15)]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [181]:
{x:x%5 for x in range(15)}

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 0,
 6: 1,
 7: 2,
 8: 3,
 9: 4,
 10: 0,
 11: 1,
 12: 2,
 13: 3,
 14: 4}

In [182]:
{x%5 for x in range(15)}

{0, 1, 2, 3, 4}

In [183]:
a = {
    5: [7,8,9],
}

In [184]:
{x: list(range(x)) for x in range(10)}

{0: [],
 1: [0],
 2: [0, 1],
 3: [0, 1, 2],
 4: [0, 1, 2, 3],
 5: [0, 1, 2, 3, 4],
 6: [0, 1, 2, 3, 4, 5],
 7: [0, 1, 2, 3, 4, 5, 6],
 8: [0, 1, 2, 3, 4, 5, 6, 7],
 9: [0, 1, 2, 3, 4, 5, 6, 7, 8]}